<link rel="stylesheet" type="text/css" href="css/form.css">

<div class="article">
  <div class="ui piled segment page">
    <a class="print_ignore ui red ribbon label" ng-show="form_status">{{frm.n}}</a>

    <img src="img/cosider.png" style="position: absolute;">

    <div class="center"><h2>PV DE REVUE DE PROCESSUS</h2></div>

    <div align="left">
      <p>Date: 

      <input type="text" ng-model="frm.dt"  ng-disabled="lock"size="10">


      </p>
      <p>Processus: <input type="text" ng-model="frm.Processus"  ng-disabled="lock"size="50" ></p>
      
    </div>

    <br>

    <div class="box">
      <p>Pr&eacute;sents:</p>
      <textarea style="height: 4cm" ng-model="frm.A" ng-disabled="lock"></textarea>
    </div>

    <div class="box">
      <p>Examen du traitement des constats des audits pr&eacute;c&eacute;dents:</p>
      <textarea style="height: 4cm" ng-model="frm.B" ng-disabled="lock"></textarea>
    </div>

    <div class="box">
      <p>Fonctionnement du processus:</p>
      <textarea style="height: 4cm" ng-model="frm.C" ng-disabled="lock"></textarea>
    </div>
    
    <div class="box">
      <p>*Commentaires sur l'activit&eacute;</p>
      <textarea style="height: 4cm" ng-model="frm.D" ng-disabled="lock"></textarea>
    </div>
    
  </div>

  <div class="ui piled segment page">
  	<p><b><u>*Niveau d'atteinte des objectifs / efficacit&eacute;</u></b></p>
	<table width="100%">
		<tr>
			<td class="box"><b>Indicateur</b></td> <td class="box"><b>Objectif</b></td> <td class="box"><b>R&eacute;sultat</b></td>
		</tr>
		<tr>
			<td class="box"><textarea style="height: 4cm" ng-model="frm.E" ng-disabled="lock"></textarea></td>
			<td class="box"><textarea style="height: 4cm" ng-model="frm.F" ng-disabled="lock"></textarea></td>
			<td class="box"><textarea style="height: 4cm" ng-model="frm.G" ng-disabled="lock"></textarea></td>
		</tr>
		<tr>
			<td colspan="3" class="box">
				<p>
					<b>Evaluation de l'efficacit&eacute;:</b>
				</p>
				<textarea style="height: 4cm" ng-model="frm.H" ng-disabled="lock"></textarea>
			</td>
		</tr>
	</table>
	
	<p>&nbsp;</p>
	<div class="box">
      <p><b><u>Commentaires sur les relation avec les autres processus:</u></b></p>
      <textarea style="height: 4cm" ng-model="frm.I" ng-disabled="lock"></textarea>
    </div>
    
	<table width="100%">
		<tr>
			<td class="box">
				<p><b><u>AC / AP propos&eacute;es:</u></b></p>
				<textarea style="height: 4cm" ng-model="frm.J" ng-disabled="lock"></textarea>
			</td>
			<td class="box">
				<p><b><u>Besoins en ressources:</u></b></p>
				<textarea style="height: 4cm" ng-model="frm.K" ng-disabled="lock"></textarea>
			</td>
		</tr>
	</table>


	<div align="right">
		<p>&nbsp;</p>
		<b><u>Visa du pilote:</u></b><input type="text" ng-model="frm.visa" ng-disabled="lock" size="10"> 
	</div>

	<div class="footer">
		<b>PRO-01-ENR-09</b> 
	</div>

</div>


  <div class="ui labeled button floated right print_ignore" ng-show="form_status"  onclick="print();">
    <div class="ui black button"><i class="print icon"></i></div>
    <a class="ui basic left pointing label">Imprimer</a>
  </div>
  <div class="print_ignore" ng-show="!form_status"> 
    <div class="ui labeled button floated right" ng-click="send_form('pro-01-enr-09')">
      <div class="ui red button"><i class="send icon"></i></div>
      <a class="ui basic left pointing label">Envoyer</a>
    </div>
    <div class="ui labeled button floated right" ng-click="clear_form()">
      <div class="ui button"><i class="delete icon"></i></div>
      <a class="ui basic left pointing label">Effacer</a>
    </div>
  </div>

</div>
