<link rel="stylesheet" type="text/css" href="css/form.css">

<div class="article">
  <div class="ui piled segment page">
    <a class="print_ignore ui red ribbon label" ng-show="form_status">{{frm.n}}</a>
    
  <img src="img/cosider.png" style="position: absolute;">

  <table style="width: 100%; height: 100%;">
    <tr style="height: 2cm; text-align: center; border-bottom: 2px solid #000;">
      <td><p><br></p>
        <p>
          <div style="float: left; width: 40%; padding: 0 30px;">
            CHANTIER / UNITE: <input type="text" ng-model="frm.ch" ng-disabled="lock">
          </div>
          <div style="float: right; width: 40%; padding: 0 30px;">
            Date: <input type="text" ng-model="frm.dat" ng-disabled="lock"> 
          </div>
        </p>
        <br>
        <p><h2>FICHE DE SIMULATION N&deg;02<br>&quot;PRISE ENCHARGE BLESSE&quot;</h2></p>
      </td>
    </tr>
    <tr>
      <td style="text-align: left;vertical-align: top;">        
        <p style="text-align: right;">
          * Fréqunce 1-2-3/an
        </p>
        
        <b><u>Sc&eacute;narii(s):</u></b>
        <textarea style="height: 1.5cm" ng-model="frm.sen" ng-disabled="lock"></textarea>

        <b><u>Moyens utilis&eacute;s ( mat&eacute;riels ) :</u></b>
        <textarea style="height: 1.5cm" ng-model="frm.mum" ng-disabled="lock"></textarea>

        <b><u>Moyens utilis&eacute;s ( humains ):</u></b>
        <textarea style="height: 1.5cm" ng-model="frm.muh" ng-disabled="lock"></textarea>

        <b><u>R&eacute;sultats:</u></b><br>
          Début d'intervention : <input type="text" ng-model="frm.di" ng-disabled="lock" size="10"> &nbsp;&nbsp;&nbsp; 
          Fin : <input type="text" ng-model="frm.fi" ng-disabled="lock" size="10"><br>

        <u>Description du d&eacute;roulement de la simulation :</u><br>
        <textarea style="height: 4cm" ng-model="frm.des" ng-disabled="lock"></textarea>
        
        <u>Recommandations</u><br>
        <textarea style="height: 4cm" ng-model="frm.rec" ng-disabled="lock"></textarea>

        <sub>* Rayer la mention inutile</sub>




      </td>
    </tr>
    <tr>
      <td style="height: 1%; text-align: right; font-weight: bold;">
        PRO-10-ENR-04
      </td>
    </tr>
  </table>


</div>
  <div class="ui labeled button floated right print_ignore" ng-show="form_status"  onclick="print();">
    <div class="ui black button"><i class="print icon"></i></div>
    <a class="ui basic left pointing label">Imprimer</a>
  </div>
  <div class="print_ignore" ng-show="!form_status"> 
    <div class="ui labeled button floated right" ng-click="send_form('pro-10-enr-04')">
      <div class="ui red button"><i class="send icon"></i></div>
      <a class="ui basic left pointing label">Envoyer</a>
    </div>
    <div class="ui labeled button floated right" ng-click="clear_form()">
      <div class="ui button"><i class="delete icon"></i></div>
      <a class="ui basic left pointing label">Effacer</a>
    </div>
  </div>
</div>