<div class="ui container">
	<div class="ui cards">

		<div class="card">
			<div class="content">
				<div class="header">COSIDER GROUPE</div>
				<div class="description">
					Site SIDER -7, chemin du Paradou - Hydra 16000 Alger <br>
					<b>Tel :</b>  (023) 53 41 49<br>
					<b>Fax :</b> (023) 53 42 57 <br>
					<a href="mailto:groupe@cosider-groupe.dz">groupe@cosider-groupe.dz</a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<div class="header">COSIDER CANALISATIONS</div>
				<div class="description">
					Route de la base aérienne - Chéraga Alger<br>
					<b>Tel :</b> ( 023 ) 36 04 64<br>
					<b>Fax :</b> ( 023 ) 36 04 57 / 58 <br>
					<a href="mailto:canalisations@cosider-groupe.dz">canalisations@cosider-groupe.dz</a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<div class="header">COSIDER TRAVAUX PUBLICS</div>
				<div class="description">
					Cité Clément-ville - Mohammadia Alger<br>
					<b>Tel :</b> ( 021 ) 82 63 69 / (021) 82 63 59<br>
					<b>Fax :</b> ( 021 ) 82 62 61<br>
					<a href="mailto:tp@cosider-groupe.dz">tp@cosider-groupe.dz</a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<div class="header">COSIDER CONSTRUCTION</div>
				<div class="description">
					Zone industrielle BP20B Dar el beida Alger<br>
					<b>Tel :</b> ( 021 ) 50 76 70<br>
					<b>Fax :</b> ( 021 ) 50 76 60 <br>
					<a href="mailto:construction@cosider-groupe.dz">construction@cosider-groupe.dz</a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<div class="header">COSIDER OUVRAGES D'ART </div>
				<div class="description">
					zone industrielle zone c rouiba BP 67/B Alger<br>
					<b>Tel :</b> ( 023 ) 85 08 00<br>
					<b>Fax :</b> ( 023 ) 85 08 01<br>
					<a href="mailto:ouvrages.art@cosider-groupe.dz">ouvrages.art@cosider-groupe.dz</a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<div class="header">COSIDER CARRIERES</div>
				<div class="description">
					Zone d'Activité de Dar El Beida BP 65F - Dar El Beida Alger<br>
					<b>Tel :</b> : (023) 83 31 75 / 83 31 80 / 83 31 79<br>
					<b>Fax :</b> (023) 83 31 83 <br>
					<a href="mailto:carrieres@cosider-groupe.dz">carrieres@cosider-groupe.dz</a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<div class="header">COSIDER PROMOTION</div>
				<div class="description">
					Chemin wilaya N°130 Saint Charle - Les Sources - Bir Mourad Rais Alger<br>
					<b>Tel :</b> ( 021 ) 54 13 62<br>
					<b>Fax :</b> ( 021 ) 56 19 07 <br>
					<a href="mailto:promotion@cosider-groupe.dz">promotion@cosider-groupe.dz</a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<div class="header">COSIDER ALREM</div>
				<div class="description">
					Zone industrielle de Rouiba voie c, lot n°3 BP 156 A Rouiba Alger<br>
					<b>Tel :</b> ( 023 ) 85 08 29/ 30 / 31 / 33/ 34 / 36<br>
					<b>Fax :</b> ( 023 ) 85 08 26 / ( 023 ) 85 08 35 <br>
					<a href="mailto:alrem@cosider-groupe.dz ">alrem@cosider-groupe.dz </a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<div class="header">COSIDER ENGINEERING</div>
				<div class="description">
					Zone d’Activité, Lot 181, Dar El Beida.<br>
					<b>Tel :</b> ( 023 ) 80 05 48<br>
					<b>Fax :</b> ( 023 ) 80 05 49<br>
					<a href="mailto:cosider.engineering@cosider-groupe.dz">cosider.engineering@cosider-groupe.dz</a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="content">
				<div class="header">COSIDER GEOTECHNIQUE</div>
				<div class="description">
					Compos Site Cosider -Route de Dar El Beida- W. Alger <br>
					<b>Tél :</b> ( 023 ) 80 05 01 / 023 80 05 02  <br>
					<b>Fax :</b> ( 023 ) 80 05 03<br>
					<a href="mailto:geotechnique@cosider-groupe.dz">geotechnique@cosider-groupe.dz</a>
				</div>
			</div>
		</div>

	</div>
</div>