<a href="#!/contact/0" class="ui button">
  <i class="plus icon"></i>
  Nouveau contact
</a>
<div class="ui icon input">
  <i class="search icon"></i>
  <input type="text" placeholder="Search..." ng-model="q">
</div>

<h1>List des contacts</h1>

<table class="ui selectable single line red table">
  <thead>
    <th>Nom / Réson sociale</th>
    <th>Activiter</th>
    <th>Tel</th>
    <th>Fax</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Famille</th>
    <!--th>Credit</th-->
  </thead>
  <tbody>
    <tr ng-repeat="ele in $parent.contacts_list | filter:q | limitTo:50" ng-init="ele.famille = (ele.type=='c'?'Client': ele.type=='f'?'Fournisseur': ele.type=='s'?'Sous Traitant': ele.type=='d'?'Divers': '!')">
      <td> <a href="#!/contact/{{ele.id}}"> {{ele.nom}} </a> </td>
      <td>{{ele.activite}}</td>
      <td>{{ele.tel}}</td>
      <td>{{ele.fax}}</td>
      <td>{{ele.mobile}}</td>
      <td>{{ele.email}}</td>
      <td>{{ele.famille}}</td>
      <!--td class="right aligned" ng-class="{'positive':ele.credit>0, 'error':ele.credit<0}">{{ele.credit | currency:"DA"}}</td-->
    </tr>
  </tbody>
</table>
  
