<!--div class="Wtitel">CAHIER DES CHARGE</div-->



<div class="article">

    <div class="ui segment">
        <div class="ui top right attached label">
            <div class="ui small horizontal statistic">
                <div class="label">
                    Contrats N&deg; &nbsp;&nbsp;&nbsp;
                </div>
                <div class="value">
                    {{ "STR-bt/02/12/G/1182" }}
                </div>
            </div>
        </div>
        <p>&nbsp;</p>

        <div style="text-align: center;">

            <div class="ui mini steps">
                <div class="step">
                    <i class="bullhorn icon"></i>
                    <div class="content">
                        <div class="title">DEPART</div>
                        <div class="description">Choose your shipping options</div>
                    </div>
                </div>
                <div class="step">
                    <i class="edit icon"></i>
                    <div class="content">
                        <div class="title">PASSATION</div>
                        <div class="description">Choose your shipping options</div>
                    </div>
                </div>
                <div class="active completed step">
                    <i class="settings icon"></i>
                    <div class="content">
                        <div class="title">EXECUTION</div>
                        <div class="description">Enter billing information</div>
                    </div>
                </div>
                <div class="disabled step">
                    <i class="flag icon"></i>
                    <div class="content">
                        <div class="title">TERMINER</div>
                        <div class="description">Verify order details</div>
                    </div>
                </div>
            </div>
        </div>


        <form class="ui form" name="form" novalidate >
  
            <div class="field">
                <label>Intitulé du projet</label>
                <input type="text" ng-model="" placeholder="Intitulé du projet" maxlength="256">
            </div>

            <div class="field">
                <label>Responsable de la structure bénéficiaire</label>
                <input type="text" ng-model="" placeholder="Responsable de la structure bénéficiaire" maxlength="256">
            </div>

            <p>
                <div class="ui red ribbon label">
                    <i class="edit icon"></i> PASSATION
                </div>
            </p>

            <div class="field">
                <label>Nature de l'opération</label>
                <input type="text" ng-model="" placeholder="TRAVAUX / ..." maxlength="256">
            </div>

            <div class="field">
                <label>Objet de l'operation</label>
                <input type="text" ng-model="" placeholder="ex: MACONNERIE REVETEMENT PEINTURE ...." maxlength="256">
            </div>

            <div class="field">
                <label>Mode de passation</label>
                <input type="text" ng-model="" placeholder="ex: CN N°01/...... " maxlength="256">
            </div>

            <div class="field">
                <label>Lancement de l'appel d'offres / consultation</label>
                <input type="text" ng-model="" placeholder="JJ/MM/AAAA" maxlength="256">
            </div>

            <div class="field">
                <label>Ouverture des plis</label>
                <input type="text" ng-model="" placeholder="JJ/MM/AAAA" maxlength="256">
            </div>

            <div class="field">
                <label>Evaluation des offres</label>
                <input type="text" ng-model="" placeholder="JJ/MM/AAAA" maxlength="256">
            </div>

            <div class="field">
                <label>Délai de réalisation</label>
                <input type="text" ng-model="" placeholder="xx MOIS" maxlength="256">
            </div>

            <div class="field">
                <label>Montant contractuel / TTC</label>
                <input type="text" ng-model="" placeholder="" maxlength="256">
            </div>



            <p>
                <div class="ui red ribbon label">
                    <i class="settings icon"></i> EXECUTION
                </div>
            </p>


            <div class="field">
                <label>N° contrat</label>
                <input type="text" ng-model="" placeholder="ex: STR-bt/...." maxlength="256">
            </div>

            <div class="field">
                <label>Cocontractant</label>
                <input type="text" ng-model="" placeholder="" maxlength="256">
            </div>

            <div class="field">
                <label>ADRESSE</label>
                <input type="text" ng-model="" placeholder="" maxlength="256">
            </div>

            <div class="field">
                <label>N° NIF</label>
                <input type="text" ng-model="" placeholder="" maxlength="256">
            </div>

            <div class="field">
                <label>N° ARTICLE D'IMPOSITION</label>
                <input type="text" ng-model="" placeholder="" maxlength="256">
            </div>


            <p>
                <div class="ui red ribbon label">
                    <i class="calendar icon"></i> DATE D'ENREGISTREMENT
                </div>
            </p>

            <div class="field">
                <label>Date d'nregistrement</label>
                <input type="text" ng-model="" placeholder="" maxlength="256">
            </div>

            <div class="field right aligned">
                <button class="ui button" type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
</div>