<div style="padding: 32px;"></div>



<div class="ui form blue segment" style="background-color: #fefeff">
  <div class="field">
    <label>Ajouter une tache</label>
    <input type="text" placeholder="description dune tache">
  </div>
</div>

  
<div class="ui divided items form ">


  <div class="item">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti magnam officiis reiciendis reprehenderit perspiciatis, est libero rerum in qui, eum, iusto vitae. Adipisci ut modi minus enim, dolorum pariatur.
      </label>
    </div>
  </div>

  <div class="item">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti magnam officiis reiciendis reprehenderit perspiciatis, est libero rerum in qui, eum, iusto vitae. Adipisci ut modi minus enim, dolorum pariatur.
      </label>
    </div>
  </div>

  <div class="item">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti magnam officiis reiciendis reprehenderit perspiciatis, est libero rerum in qui, eum, iusto vitae. Adipisci ut modi minus enim, dolorum pariatur.
      </label>
    </div>
  </div>



</div>