<div class="ui container">
  <div class="ui divided items">

    <div class="item">
      <div class="image">
        <img src="img/publication/image3.jpg">
      </div>
      <div class="content">
        <a class="header">Megration de la platform</a>
        <div class="meta">
          <span class="cinema">dim 19 décembre 2017</span>
        </div>
        <div class="description">
          <p>
            <b>Version:</b> Alpha build #847 <br>
            Megration du site web QSE vers la plat-form Version <b>4</b>
          </p>
        </div>
        <div class="extra">
        </div>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="img/publication/revue_presse.jpg">
      </div>
      <div class="content">
        <a href="http://www.cosider-groupe.dz/fr/le-groupe-cosider--parmi-les-premiers-b%C3%A9n%C3%A9ficiaires-de-la-loi-sur-le-partenariat-public-priv%C3%A9" target="_blank" class="header">REVUE DE PRESSE</a>
        <div class="meta">
          <span class="cinema">mer 23 novembre 2016</span>
        </div>
        <div class="description">
          <p>
            LE GROUPE COSIDER, PARMI LES PREMIERS BÉNÉFICIAIRES DE LA LOI SUR LE PARTENARIAT PUBLIC-PRIVÉ
          </p>
        </div>
        <div class="extra">
          <a class="ui right floated button" href="http://www.cosider-groupe.dz/fr/le-groupe-cosider--parmi-les-premiers-b%C3%A9n%C3%A9ficiaires-de-la-loi-sur-le-partenariat-public-priv%C3%A9" target="_blank">
            Lire la suite ... 
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>




    
    <div class="item">
      <div class="image">
        <img src="img/publication/image5.jpg">
      </div>
      <div class="content">
        <a class="header" href="http://www.cosider-groupe.dz/fr/cosider-construction" target="_blank">Présentation / Mot du president</a>
        <div class="meta">
          <span class="cinema">dim 23 décembre 2012</span>
        </div>
        <div class="description">
          <p>Créée en 1995, dans le cadre du processus de restructuration de COSIDER Spa, la filiale...</p>
        </div>
        <div class="extra">
          <a class="ui right floated button" href="http://www.cosider-groupe.dz/fr/cosider-construction" target="_blank">
            Lire la suite ... 
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>
    </div>  

  </div>
</div>
