<style type="text/css">
    .header{
        position:absolute;
        top: 60px;
        left: 0;
        padding: 0 50px;
        width: 250px;
        height: 50px;
        line-height: 50px;
        color: #FFF;
        background-color: #e00;
        font-weight: bold;
        text-transform: uppercase;
        box-sizing: border-box;
    }
    .index{
        position:absolute;
        top: 110px;
        bottom: 0;
        left: 0;
        width: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
        box-sizing: border-box;
    }
    .index div{
        width: 100%;
        margin: 0;
        padding: 5px 10px ;
        border: 0;
        border-bottom: 1px dotted #bbb;
        background-color: #fff;
    }
    .index div:hover{
        background-color: #eee;
    }
    .frame{
        position:absolute;
        border: 0;
        top: 60px;
        right: 0;
        bottom: 4px;
        left: 250px;
        box-sizing: border-box;
    }
</style>

<div class="header">
    Signets
</div>

<div class="index">
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PolitiqueQSE.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PolitiqueQSE</b><br>
            Politique QSE
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/MNL_01.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>MNL-01</b><br>
            Manuel QSE
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PCM_01.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PCM-01</b><br>
            Piloter le SMI
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PCR_01.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PCR-01</b><br>
            Ecouter le client et établir les contrats
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PCR_02.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PCR-02</b><br>
            Maitriser les études
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PCR_03.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PCR-03</b><br>
            Réaliser les ouvrages
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PCR_04.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PCR-04</b><br>
            Gérer la production des éléments métalliques, en bois et les activités intermédiaires
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PCS_01.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PCS-01</b><br>
            Gérer les compétences
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PCS_02.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PCS-02</b><br>
            Maitriser les achats et la sous traitance
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PCS_03.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PCS-03</b><br>
            Gérer le matériel
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_01.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-01</b><br>
            Gestion documentaire
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_02.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-02</b><br>
            Audit interne 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_03.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-03</b><br>
            Actions correctives 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_04.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-04</b><br>
            Réalisation des ouvrages
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_05.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-05</b><br>
            Gestion des achats et prestations 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_06.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-06</b><br>
            Traitement des réclamations des parties intéressées 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_07.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-07</b><br>
            Gestion du commercial 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_08.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-08</b><br>
            Gestion des RH et des compétences 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_09.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-09</b><br>
            Gestion du plan de contrôle de réalisation
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_10.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-10</b><br>
            Gestion situations d’urgence
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_11.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-11</b><br>
            Production et contrôle du béton 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_12.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-12</b><br>
            Gestion du produit non conforme
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_13.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-13</b><br>
            Communication 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_14.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-14</b><br>
            Gestion du budget
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_15.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-15</b><br>
            Gestion des incidents 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_16.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-16</b><br>
            Maitrise des études 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_17.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-17</b><br>
            Gestion des coffrages
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_18.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-18</b><br>
            Fabrication et montage des éléments métallique, bois et des roduits intermédiaires 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_19.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-19</b><br>
            Gestion et maintenance des installations spécifiques
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_20.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-20</b><br>
            Gestion de la maintenance du matériel
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_21.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-21</b><br>
            Gestion du parc matériel 
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_22.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-22</b><br>
            Gestion du parc informatique
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/PRO_23.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>PRO-23</b><br>
            Travaux de terrassement
        </a>
    </div>
    <div>
        <a href="http://docs.google.com/gview?url=http://www.cosider-construction.dz/3/qse/ManuelHSE.pdf&embedded=true&chrome=false" target="view" style="text-decoration:none;">
            <img src="img/page.png"> <b>ManuelHSE</b><br>
            Manuel HSE
        </a>
    </div>
</div>
<div class="frame">
    <iframe src ="" width="100%" height="100%" frameborder="0" name="view" allowtransparency="yes" scrolling="auto"></iframe>
</div>