<div uk-grid>

  <div class="uk-width-1-5 uk-margin-large-top uk-padding-small">
    <ul class="uk-tab-left" uk-sticky="offset: 100; bottom: #sticky-on-scroll-up"
    uk-tab="connect: #component-tab-left; animation: uk-animation-slide-top"
    >

      <li><a href="#">List des Pole</a></li>
      <li><a href="#">List des NT</a></li>
      <li><a href="#">List des Directeur</a></li>
      <li><a href="#">List des Compagnies<br>d'assurances</a></li>
      <li><a href="#">List des Agence<br>d'assurances</a></li>
    </ul>
  </div>

  <div class="uk-width-4-5">
    <div class="uk-padding-small">

      <ul id="component-tab-left" class="uk-switcher">
        <!--##########################################################################-->
        <li>
          <h2 class="uk-heading-divider">List des Pole</h2>

          <a href="#add_pole" uk-toggle>
            <span uk-icon="icon: pencil"></span> Ajouter un pole
          </a>

          <table class="uk-table uk-table-hover uk-table-divider ">
            <thead>
              <tr>
                <th>N° de police</th>
                <th>Désignation</th>
                <th>Date effet</th>
                <th>Date échéances</th>
                <th>Montant prime</th>
                <th>Ordre de paiement</th>
                <th>N° de dossier</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
            </tbody>
          </table>

        </li>
        <!--##########################################################################-->
        <li>
          <h2 class="uk-heading-divider">List des NT</h2>

          <a href="#add_nt" uk-toggle>
            <span uk-icon="icon: pencil"></span> Ajouter un NT
          </a>

          <table class="uk-table uk-table-hover uk-table-divider ">
            <thead>
              <tr>
                <th>N° de police</th>
                <th>Désignation</th>
                <th>Date effet</th>
                <th>Date échéances</th>
                <th>Montant prime</th>
                <th>Ordre de paiement</th>
                <th>N° de dossier</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
            </tbody>
          </table>
        </li>
        <!--##########################################################################-->
        <li>
          <h2 class="uk-heading-divider">List des Directeur</h2>

          <a href="#add_nt" uk-toggle>
            <span uk-icon="icon: pencil"></span> Ajouter un Directeur
          </a>

          <table class="uk-table uk-table-hover uk-table-divider ">
            <thead>
              <tr>
                <th>N° de police</th>
                <th>Désignation</th>
                <th>Date effet</th>
                <th>Date échéances</th>
                <th>Montant prime</th>
                <th>Ordre de paiement</th>
                <th>N° de dossier</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
            </tbody>
          </table>
        </li>
        <!--##########################################################################-->
        <li>
          <h2 class="uk-heading-divider">List des compagnies d'assurances</h2>

          <table class="uk-table uk-table-hover uk-table-divider ">
            <thead>
              <tr>
                <th>N° de police</th>
                <th>Désignation</th>
                <th>Date effet</th>
                <th>Date échéances</th>
                <th>Montant prime</th>
                <th>Ordre de paiement</th>
                <th>N° de dossier</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
            </tbody>
          </table>
        </li>
        <!--##########################################################################-->
        <li>
          <h2 class="uk-heading-divider">List des agence d'assurances</h2>

          <table class="uk-table uk-table-hover uk-table-divider ">
            <thead>
              <tr>
                <th>N° de police</th>
                <th>Désignation</th>
                <th>Date effet</th>
                <th>Date échéances</th>
                <th>Montant prime</th>
                <th>Ordre de paiement</th>
                <th>N° de dossier</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
              <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
                <td>2.000.000,00 DA</td>
                <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                <td>jj/mm/aaaa</td>
              </tr>
            </tbody>
          </table>
        </li>
        <!--##########################################################################-->
      </ul>
    </div>
  </div>
</div>



<!--##########################################################################-->
<form id="add_pole" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title"><span class="uk-text-muted uk-margin-small-right">#</span>Ajouter un pole</h2>
        </div>
        <div class="uk-modal-body uk-grid-small" uk-grid>

            <div class="uk-width-1-4@s">
              <label class="uk-form-label">Code pole</label>
              <input class="uk-input" type="text" placeholder="">
            </div>

            <div class="uk-width-3-4@s">
              <label class="uk-form-label">Libelie</label>
              <input class="uk-input" type="text" placeholder="">
            </div>

            <div class="uk-width-1-2@s">
              <label class="uk-form-label">Directeur</label>
              <select class="uk-select" id="form-stacked-select">
                <option></option>
                <option>Option 01</option>
                <option>Option 01</option>
              </select>
            </div>

            <div class="uk-width-1-2@s">
              <label class="uk-form-label">Tel</label>
              <input class="uk-input" type="text" placeholder="">
            </div>

            <div class="uk-width-1-1">
              <label class="uk-form-label">Addresse</label>
              <input class="uk-input" type="text" placeholder="">
            </div>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label">Montant</label>
              <input class="uk-input" type="text" placeholder="">
            </div>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label">Date demarage</label>
              <input class="uk-input" type="date" data-uk-datepicker="{format:'DD/MM/YYYY'}">
            </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
            <button class="uk-button uk-button-primary" type="button">Enregistrier</button>
        </div>
    </div>
</form>

<!--##########################################################################-->
<form id="add_nt" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title"><span class="uk-text-muted uk-margin-small-right">#</span>Ajouter un NT</h2>
        </div>
        <div class="uk-modal-body uk-grid-small" uk-grid>

            <div class="uk-width-1-4@s">
              <label class="uk-form-label">Code NT</label>
              <input class="uk-input" type="text" placeholder="">
            </div>

            <div class="uk-width-1-2@s">
              <label class="uk-form-label">Libelie</label>
              <input class="uk-input" type="text" placeholder="">
            </div>

            <div class="uk-width-1-4@s">
              <label class="uk-form-label">
                POLE 
                <a class="" href="#add_pole" title="ajouter un pole" uk-tooltip uk-toggle>
                  <span class="" uk-icon="icon: pencil"></span>
                </a>
              </label>

              <select class="uk-select" id="form-stacked-select">
                <option></option>
                <option>Option 01</option>
                <option>Option 01</option>
              </select>
            </div>

        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
            <button class="uk-button uk-button-primary" type="button">Enregistrier</button>
        </div>
    </div>
</form>